.row{
    margin: 0;
}

.row h1{
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 77%;
}

.posters{
    display: flex;
    padding: 10px;
    overflow-x: scroll;
    overflow-y:hidden ;
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    cursor: pointer;
    max-height: 250px;
    margin-right: 10px;
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
}

.smallposter{
    max-height: 150px;
    margin-right: 10px;
}

.poster:hover{
    transform: scale(1.1);
    position: relative;
    z-index: 1;
}

.movie{
    position: relative;
}

.favIcon{
    position: absolute; 
    top: 8px;
    right: 16px;
    z-index: 1;
}


@media screen and (max-width:990px) {
    .row h1{
        font-size: 1.25rem;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 75%;
    }

    .poster{
        cursor: pointer;
        max-height: 150px;
        margin-right: 10px;
    }
    
    .smallposter{
        max-height: 80px;
        margin-right: 10px;
    }
}

@media screen and (max-width:600px) {
    .row h1{
        font-size: 1rem;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 75%;
    }
}