.skeleton-screen {
    width: 300px;
    height: 175px;
    border-radius: 7px;
    background: linear-gradient(
      90deg,
    #212345 0%,
    #212121 100%
    );
    
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  