.navBar{
    position: fixed;
    background-color: rgba(51, 51, 51,0.1);
    top: 0;
    width: 100%;
    height: 60px;
    padding: 0.65rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 15;
}

.navBar .logo{
    width: 8rem;
    height: 4rem;
    padding-left: 1rem;
}

.navBar .avatar{
    width: 2rem;
    padding-right: 1.5rem;
}

@media screen and (max-width:990px) {
    .navBar .logo{
        width: 6rem;
        padding-left: 1rem;
    }
    
    .navBar .avatar{
        width: 1.5rem;
        padding-right: 1rem;
    }
    
}

@media screen and (max-width:760px) {
    .navBar{
        height: 40px;
        padding: 0.65rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 15;
    }
    .navBar .logo{
        width: 6rem;
        padding: 1rem;
    }
    
    .navBar .avatar{
        width: 1rem;
        padding-right: 1rem;
    }
    
}

@media screen and (max-width:480px) {
    .navBar{
        height: 45px;
    }
    .navBar .logo{
        width: 5rem;
        height: 37px;
    }
    
    .navBar .avatar{
        width: 1rem;
        padding-right: 1rem;
    }
    
}