.banner {
    background-size: cover;
    color: white;
    height: 540px;
}

.content {
    float: left;
    margin-left: 1.2rem;
    margin-top: 13rem;
    height: 190px;
}


.title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_buttons{
    margin-left: 3rem;
}

.button {
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    background-color: rgba(51, 51, 51, .5);
    cursor: pointer;
    margin-left: 1rem;
}

.button:hover {
    color: black;
    background-color: #e6e6e6;
}

.description {
    position: absolute;
    top: 20rem;
    width: 35rem;
    text-align: justify;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
}


@media screen and (max-width:990px) {
    .banner {
        background-size: cover;
        color: white;
        height: 440px;
    }

    .content {
        padding-left: 15px;
        padding-top: 70px;
        height: 140px;
    }
    
    .subContent {
        position: absolute;
        left: 30px;
        top: 12rem;
    }
    
    .title {
        font-size: 1.2rem;
        font-weight: 600;
        padding-bottom: 0.3rem;
    }

    .description {
        position: absolute;
        top: 18rem;
        width: 45rem;
        line-height: 1.3;
        padding-top: 0.7rem;
        font-size: 0.8rem;
        height: 80px;
        max-width: 360px;
    }
    
    
}



@media screen and (max-width:760px) {
    .banner {
        background-size: cover;
        color: white;
        height: 290px;
    }

    .content {
        margin-left: 1rem;
        margin-top: 7rem;
    }
    
    .subContent {
        position: absolute;
        left: 30px;
        top: 12rem;
    }
    
    .title {
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        padding-bottom: 0.3rem;
    }

    .banner_buttons{
        margin-left: 0.5rem;
    }

    .button {
        font-weight: 400;
        font-size: 10px;
        padding: 0.25rem 1rem;
    }

    

    .description {
        position: absolute;
        top: 15rem;
        width: 15rem;
        line-height: 1;
        padding-top: 0.7rem;
        font-size: 0.4rem;
    }
    
    
}